body {
  padding: 0;
  margin: 0;
}
.container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: fit-content;
  display: flex;
  gap: 8%;
}
.wrapper {
  justify-content: center;
  align-items: center;
}
.header {
  background-image: url("assets/images/chart.png");
  width: 700px;
  align-items: center;
  justify-content: center;
  height: 800px;
  border-radius: 40px;
  margin: 50px 0px;
}
.header h1 {
  color: #ffff;
  font-size: 4.5rem;
  font-weight: 400;
  width: 700px;
  line-height: 1.3;
  padding: 0 50px;
}
.logs-header h1 {
  color: #000000;
  font-size: 4.5rem;
  font-weight: 900;
}
.logs-header p {
  color: #888585;
  font-size: 1.2rem;
  font-weight: 200;
  width: 700px;
  line-height: 1.3;
}
.logs hr {
  margin: 30px 0px;
  width: 80%;
}
label {
  font-size: 1.5rem;
  padding: 60px 0px;
  color: #888585;
}
input {
  margin: 10px 0px;
}
#input {
  padding: 20px 0px;
  width: 80%;
  border-radius: 15px;
  outline: none;
  font-size: 20px;
}
#input:hover {
  border: 1px solid red;
}

button {
  width: 80%;
  padding: 20px;
  background-color: #fa6705;
  border-radius: 15px;
  color: #ffff;
  font-size: 18px;
  margin-top: 30px;
  border: none;
}
button:hover {
  border: 1px solid #fa6705;
  background-color: #f7d4be;
  color: #000000;
}
.submit p {
  text-align: center;
  width: 80%;
  font-size: 18px;
}
.submit p a {
  color: #000000;
  font-size: 20px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .header {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border-radius: 20px;
    display: none;
  }

  .logs-header h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
  }

  .logs-header p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  #input,
  button {
    width: 21rem;
    font-size: 16px;
    padding: 20px 0px;
  }

  label {
    font-size: 1rem;
  }

  .submit p {
    font-size: 16px;
  }
  .icon {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }

  .icon i {
    font-size: 40px;
    text-align: center;
  }
  .logs hr {
    margin: 30px 0px;
    width: 100%;
  }
  .submit p {
    text-align: center;
    font-size: 18px;
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: none;
  }
  .logs {
    justify-content: center;
    align-items: center;
  }
  .logs-header h1 {
    color: #000000;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 900;
  }
  .icon {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }
  .logs-header p {
    color: #888585;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    width: 700px;
    line-height: 1.3;
  }
  .logs hr {
    margin: 30px 0px;
    width: 100%;
  }
  label {
    font-size: 1.5rem;
    padding: 60px 0px;
    text-align: left;
    color: #888585;
  }
  input {
    margin: 15px 0px;
  }
  #input {
    padding: 30px 0px;

    width: 100%;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
  }
  #input:hover {
    border: 1px solid red;
  }

  button {
    width: 100%;
    padding: 30px;
    background-color: #fa6705;
    border-radius: 20px;
    color: #ffff;
    font-size: 18px;
    margin-top: 40px;
    border: none;
  }
  button:hover {
    border: 1px solid #fa6705;
    background-color: #f7d4be;
    color: #000000;
  }
  .submit p {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
}
